.details
{
  border: black;
  font:200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 68px;
  box-sizing: border-box;
  border: 2px solid;
  height: 336px;
  width: 400px;
}
form
{
    background-color: rgb(218, 109, 32);
    border: 2px solid black;
}
.state
{
    width: 40px;
}
.city
{
    width: 50px;
    margin-left: -127px;
}
.Adress
{
    width: 52px;
    margin-left: -68px;
}
.styles
{
    background-color: burlywood;
}